.layout-default {
  // background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  .logo {
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
  }
}

.main {
  min-height: calc(100vh - 120px); // Adjust based on header and footer height
  padding: 20px;
}

.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;

  .container {
    display: flex;
    justify-content: center;
  }

  span {
    margin: auto 0;
  }
}